[submodule "extra.d/benchmark-init-el"]
	path = extra.d/benchmark-init-el
	url = https://github.com/dholm/benchmark-init-el
[submodule "extra.d/esup"]
	path = extra.d/esup
	url = https://github.com/jschaf/esup
[submodule "extra.d/emacs-web-server"]
	path = extra.d/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server
[submodule "extra.d/nano-emacs"]
	path = extra.d/nano-emacs
	url = https://github.com/rougier/nano-emacs
